@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  /* Cores */
  --color-primary-gradient-900: #053062;
  --color-primary-gradient-800: #0B63C8;


  
/* Fontes */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
/* gradiente */
  
}


body{
  color: white
}