@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  /* Cores */
  --color-primary-gradient-900: #053062;
  --color-primary-gradient-800: #0B63C8;


  
/* Fontes */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
/* gradiente */

/* animacao */
/* animacao */
--animate-fade-in-scale: fade-in-scale 0.3s ease-out infinity;
--animate-fade-leftAnimation: leftPosicao 1s ease-out;
--animate-fade-leftAnimation2: leftPosicao 1s ease-out;

/* Hover */
--animate-hover:hover:scale-110 duration-300 ease-out
@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Keyframes para a animação leftPosicao */
@keyframes leftPosicao {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

}


body{
  color: white
}